
body {
    background-color: darkcyan;
}

#fishTank {
    display:flex;
    flex-wrap: wrap;
    margin: 1em; 
    border: 5px solid yellowgreen;
}

.fishlist {
    flex: 4;
    display: flex; 
    flex-wrap: wrap;
    margin: 1em; 
}

aside {
    flex: 2;
    background-color: thistle;
    margin: 2em;
}

.fish-card {
background-color: wheat;
margin: 1em; 
}



.card-image {
    width: 200px;
    height: auto;
}


.fish-image {
    width: 100%;
    height: auto;
}
